---
layout: default
title: FAQ
---


.row
  .col-sm-12
    %h1 FAQ
    %hr

.row
  .col-sm-12
    .list-group
      %a.list-group-item{href:"/sections/faq/merchant.html"}
        %h4 Merchant Questions
      %a.list-group-item{href:"/sections/faq/developer.html"}
        %h4 Developer Questions


:javascript
  s2p.sectionClass = "faq";
