---
layout: default
title: API - Applications
---

.row
  .col-sm-12
    %h1 Applications
    %hr

.row
  .col-sm-8
    %p Client Applications are how you securely connect your site or native app to Sign2Pay's Payment Processing. Beyond access, you also manage the brand and messaging during payment.

    %p This API provides access for both create and update client applications.

    .note.note-danger
      %strong Note:
      These are <a href="/sections/api/authorization.html">authorized</a> calls.
    %h4 Create Client Application
    %pre
      %code
        POST https://app.sign2pay.com/api/v2/applications

    %table.arguments
      %thead
        %tr
          %th Parameter
          %th Required
          %th Type
          %th Description
      %tbody

        %tr
          %td.param name
          %td.required.yes yes
          %td.format String
          %td.description Store front or native app name.

        %tr
          %td.param redirect_uri
          %td.required.no yes
          %td.format String
          %td.description The uri response will be sent to when requesting Access Grant. Must have the same domain as the application.

        %tr
          %td.param description
          %td.required.no no
          %td.format String
          %td.description Displays on Payment UI under your Application name as well as Purchase Receipts

        %tr
          %td.param logo
          %td.required.no no
          %td.format String
          %td.description Brands the Payment UI. Provide as a publicly reachable URL and we'll handle grabbing it. (Aim for a square!)

        %tr
          %td.param ref_id
          %td.required.no no
          %td.format String
          %td.description If you are integrating multiple Client Applications, pass your own ID to reference back to the site you're integrating.

        %tr
          %td.param mode
          %td.required.no no
          %td.format String
          %td.description test, live, fail, archived, defaults to test




    %h4 Request Headers &amp; Body
    %pre
      %code
        :preserve

          Accept: */*
          Accept-Encoding: gzip, deflate
          Content-Type: application/json
          Authorization: Token token=2d7c34be6b03de66386e50a962dd4349
          Accept-Language: en-us

          {
          "application": {
              "name": "Dicki, Kuhn and Hintz",
              "description": "Business-focused optimizing product",
              "redirect_uri": "http://trompmante.biz/tad/callback",
              "ref_id": "0123456789",
              "logo" : "http://icons.iconarchive.com/icons/yellowicon/game-stars/256/Mario-icon.png",
              "mode" : "test"
            }
          }

    %h4 Response Body
    %pre
      %code
        :preserve
          {
              "name": "Dicki, Kuhn and Hintz",
              "description": "Business-focused optimizing product",
              "redirect_uri": "http://trompmante.biz/tad/callback",
              "mode": "test",
              "ref_id": "0123456789",
              "logo": "https://s2p-development.s3-eu-west-1.amazonaws.com/merchants/mama-jane-s/merchant_applications/logos/55fa8e63e6db992228000004/original.png?1442483811",
              "created_at": "2015-09-17T11:56:51.238+02:00",
              "updated_at": "2015-09-17T11:56:51.238+02:00"
          }


    .step
      %h4 Update Client Application

      %p.note
        Calls to update your Client Application accept the same parameters, and return the same response, as calls to create but use the <code>PUT</code> method.


      %pre
        %code
          PUT https://app.sign2pay.com/api/v2/applications

  .col-sm-4
    %aside.aside_screenshot
      %img{:src => "/images/screenshots/rotate.png"}/

:javascript
  s2p.sectionClass = "api";
  s2p.pageClass = "applications";

