---
layout: default
title: API - Countries
---

.row
  .col-sm-12
    %h1 Countries
    %hr

.row
  .col-sm-12

    %p The Countries API provides you with an arrary of countries that Sign2Pay is currently processing payments in. This means that your user must have a bank account from one of these countries.

    %h4 List Supported Countries
    %pre
      %code
        GET https://app.sign2pay.com/api/v2/countries

    %h4 Request Headers &amp; Body
    %pre
      %code
        :preserve
          Accept: */*
          Accept-Encoding: gzip, deflate
          Content-Type: application/json
          Accept-Language: en-us

    %h4 Response Body
    %pre
      %code
        :preserve
          [
            {
                "name": "Austria",
                "country_code": "AT",
                "numeric_code": "40",
                "wiki": "http://en.wikipedia.org/wiki/Austria"
            },
            {
                "name": "Belgium",
                "country_code": "BE",
                "numeric_code": "56",
                "wiki": "http://en.wikipedia.org/wiki/Belgium"
            },
            {
                "name": "Cyprus",
                "country_code": "CY",
                "numeric_code": "196",
                "wiki": "http://en.wikipedia.org/wiki/Cyprus"
            },
            {
                "name": "Estonia",
                "country_code": "EE",
                "numeric_code": "233",
                "wiki": "http://en.wikipedia.org/wiki/Estonia"
            },
            {
                "name": "Finland",
                "country_code": "FI",
                "numeric_code": "246",
                "wiki": "http://en.wikipedia.org/wiki/Finland"
            },
            {
                "name": "France",
                "country_code": "FR",
                "numeric_code": "250",
                "wiki": "http://en.wikipedia.org/wiki/France"
            },
            {
                "name": "Germany",
                "country_code": "DE",
                "numeric_code": "276",
                "wiki": "http://en.wikipedia.org/wiki/Germany"
            },
            {
                "name": "Greece",
                "country_code": "GR",
                "numeric_code": "300",
                "wiki": "http://en.wikipedia.org/wiki/Greece"
            },
            {
                "name": "Ireland",
                "country_code": "IE",
                "numeric_code": "372",
                "wiki": "http://en.wikipedia.org/wiki/Republic_of_Ireland"
            },
            {
                "name": "Italy",
                "country_code": "IT",
                "numeric_code": "380",
                "wiki": "http://en.wikipedia.org/wiki/Italy"
            },
            {
                "name": "Latvia",
                "country_code": "LV",
                "numeric_code": "428",
                "wiki": "http://en.wikipedia.org/wiki/Latvia"
            },
            {
                "name": "Luxembourg",
                "country_code": "LU",
                "numeric_code": "442",
                "wiki": "http://en.wikipedia.org/wiki/Luxembourg"
            },
            {
                "name": "Malta",
                "country_code": "MT",
                "numeric_code": "470",
                "wiki": "http://en.wikipedia.org/wiki/Malta"
            },
            {
                "name": "Netherlands",
                "country_code": "NL",
                "numeric_code": "528",
                "wiki": "http://en.wikipedia.org/wiki/Netherlands"
            },
            {
                "name": "Portugal",
                "country_code": "PT",
                "numeric_code": "620",
                "wiki": "http://en.wikipedia.org/wiki/Portugal"
            },
            {
                  "name": "Slovakia",
                  "country_code": "SK",
                  "numeric_code": "703",
                  "wiki": "http://en.wikipedia.org/wiki/Slovakia"
              },
              {
                  "name": "Slovenia",
                  "country_code": "SI",
                  "numeric_code": "705",
                  "wiki": "http://en.wikipedia.org/wiki/Slovenia"
              },
              {
                  "name": "Spain",
                  "country_code": "ES",
                  "numeric_code": "724",
                  "wiki": "http://en.wikipedia.org/wiki/South_Sudan"
              }
          ]



:javascript
  s2p.sectionClass = "api";
  s2p.pageClass = "countries";

