---
layout: default
title: API - Payment - Cancel
---

.row
  .col-sm-12
    %h1 Payments: Cancel
    %hr

.row
  .col-sm-12
    %p This API is currently under revision along with it's documentation. If you require immediated assistance with a Payment Cancellation, <a href="mailto:support@sign2pay.com?subject=Report+Request">Contact Us</a> right away and we'll be happy to help!

:javascript
  s2p.sectionClass = "api";
  s2p.pageClass     = "payment";



//TODO