---
layout: default
title: API - Payment - Capture
---

.row
  .col-sm-12
    %h1 Payments: Capture
    %hr

.row
  .col-sm-12
    %p This API allows you to capture your authorized payment.  This API is valid for an Access Token with the <code>preapproval</code> scope using the <code>authorization_id</code> returned by a successful <a href="/sections/api/payments/authorize.html">Authorization Request</a>.

    .note.note-danger
      %strong Note:
      This is a <a href="/sections/api/authorization.html">Client Authorized</a> call.


    %h4 Capture a Payment
    %pre
      %code
        POST https://app.sign2pay.com/api/v2/payment/capture/17cdb6d94d0bb43e4a68aaa2bcbbee41

    %table.arguments
      %thead
        %tr
          %th Parameter
          %th Required
          %th Type
          %th Description
      %tbody

        %tr
          %td.param client_id
          %td.required.yes yes
          %td.format String
          %td.description The client id issued to your Sign2Pay Client Application.

        %tr
          %td.param amount
          %td.required.yes yes
          %td.format Integer
          %td.description The amount in cents you would like to authorize.

        %tr
          %td.param ref_id
          %td.required.yes yes
          %td.format String (max 35 chars)
          %td.description Your unique id for your purchase.

        %tr
          %td.param token
          %td.required.yes yes
          %td.format String
          %td.description The Access Token to attribute this payment to.

        %tr
          %td.param meta_data
          %td.required.no no
          %td.format Hash
          %td.description Optional data attached to a payment.  This is not shown to a customer.

    %h4 Request Headers &amp; Body
    %pre
      %code
        :preserve
          Accept: */*
          Accept-Encoding: gzip, deflate
          Content-Type: application/json
          Authorization: Basic YzUwOWZkNTkzNzQyYjZiMDhhZGY0ZjBiNDFhNDgwMWM6YTVjMWQyN2U0MGEzMGRkNjA2OTgyNTc4MWEyYWJlNGY=
          Accept-Language: en-us

          {
            "amount": 500,
            "client_id": "c509fd593742b6b08adf4f0b41a4801c",
            "ref_id": "387bd928942e062",
            "token": "d81ff0f3f961e7c387bd928942e062b59cb237c9d595ed9afcd9eca320356199",
            "meta_data": { "promo": "new_promo", "campaign": "wintersale" }

          }

    %h4 Response Body
    %pre
      %code
        :preserve
          {
            "purchase_id": "55fac531e6db99858e000000"
          }


:javascript
  s2p.sectionClass = "api";
  s2p.pageClass     = "payment";



//TODO
