---
layout: default
title: API
---

.row
  .col-sm-12
    %h1 Payments
    %hr

.row
  .col-sm-12
    %p Detail on dealing with API Based Payment requests are shown below.

    .list-group
      %a.list-group-item{href:"/sections/api/payments/authorize.html"}
        %h4 Authorize a Payment

      %a.list-group-item{href:"/sections/api/payments/capture.html"}
        %h4 Capture a Payment

      %a.list-group-item{href:"/sections/api/payments/authorize-capture.html"}
        %h4 Authorize & Capture a Payment

      %a.list-group-item{href:"/sections/api/payments/cancel.html"}
        %h4 Cancel a Payment

      %a.list-group-item{href:"/sections/api/payments/refund.html"}
        %h4 Refund a Payment

      %a.list-group-item{href:"/sections/api/payments/status.html"}
        %h4 Get Payment Status

.row
  .col-sm-12
    = partial "payment_status"

:javascript
  s2p.sectionClass = "api";
  s2p.pageClass     = "payments";
