---
layout: default
title: API - Payment - Refund
---

.row
  .col-sm-12
    %h1 Payments: Refund
    %hr

.row
  .col-sm-12
    %p This API allows you to refund a payment given a specific id and amount.

    .note.note-danger
      %strong Note:
      This is a <a href="/sections/api/authorization.html">Token Authorized</a> call.


    %h4 Authorize &amp; Capture a Payment Request

    %pre
      %code
        POST https://app.sign2pay.com/api/v2/purchases/55fac963e6db9909ba000003/refunds

    %table.arguments
      %thead
        %tr
          %th Parameter
          %th Required
          %th Type
          %th Description
      %tbody

        %tr
          %td.param amount
          %td.required.no yes
          %td.format Integer
          %td.description Amount to refund <strong>in cents</strong>.


    %h4 Request Headers &amp; Body
    %pre
      %code
        :preserve
          Accept: */*
          Accept-Encoding: gzip, deflate
          Content-Type: application/json
          Authorization: Token token=2d7c34be6b03de66386e50a962dd4349
          Accept-Language: en-us

          {"refund": {"amount": 500}}

    %h4 Response Body
    %pre
      %code
        :preserve
          {
            "message": "Refund succesfully processed.",
            "data": {
                "refund": {
                    "id": "55facb5ee6db990e2e000006",
                    "created_at": "2015-09-17T16:17:02.270+02:00",
                    "updated_at": "2015-09-17T16:17:02.270+02:00",
                    "amount": 500,
                    "purchase": {
                        "id": "55fac963e6db9909ba000003",
                        "created_at": "2015-09-17T16:08:35.511+02:00",
                        "updated_at": "2015-09-17T16:08:36.543+02:00",
                        "amount": 500,
                        "ref_id": "a742e5ba64c887e6314"
                    },
                    "entries": [
                        {
                            "id": "55facb5ee6db990e2e000007",
                            "created_at": "2015-09-17T16:17:02.208+02:00",
                            "updated_at": "2015-09-17T16:17:02.208+02:00",
                            "type": "refund",
                            "purchase_id": "55fac963e6db9909ba000003",
                            "ref_id": "a742e5ba64c887e6314",
                            "amount": 500
                        },
                        {
                            "id": "55facb5ee6db990e2e000008",
                            "created_at": "2015-09-17T16:17:02.247+02:00",
                            "updated_at": "2015-09-17T16:17:02.247+02:00",
                            "type": "refund_fee",
                            "purchase_id": "55fac963e6db9909ba000003",
                            "ref_id": "a742e5ba64c887e6314",
                            "amount": 25
                        },
                        {
                            "id": "55facb5ee6db990e2e000009",
                            "created_at": "2015-09-17T16:17:02.267+02:00",
                            "updated_at": "2015-09-17T16:17:02.267+02:00",
                            "type": "refund",
                            "purchase_id": "55fac963e6db9909ba000003",
                            "ref_id": "a742e5ba64c887e6314",
                            "amount": -525
                        }
                    ]
                },
                "trump": {
                    "credit_transfer_id": "55facb5e4e69630e42000001"
                }
            }
          }

:javascript
  s2p.sectionClass = "api";
  s2p.pageClass     = "payment";


//TODO
