section.fixed-header{
  margin-top: 0;
  text-align: right;
  padding:0 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999;
  width: 100%;
  height: 83px;
  border:none;
  background: rgba(255,255,255,0.97);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);

  .project-name{
    line-height: 1em;
    float:left;
    display: inline;
  }

  a.link {
    color: #333;
    text-transform: uppercase;
    font-weight: 300;
    height: 83px;
    line-height: 83px;
    display: inline-block;
    margin-bottom: 1rem;
    text-transform: uppercase;

   }

  a.link + a.link {
    margin-left: 1rem;
  }

  a.link:hover {
    text-decoration: none;
    color:#1486BA;
  }

}