nav#main-nav{
  left: 0px;
  top: 83px;
  overflow-y: auto;
  height: 100%;
  z-index: 0;
  margin-bottom: 20px;
  position:fixed;
  background: #fff;
  width:225px;
  border-right: 1px solid #eeeeee;

  ul{
    margin: 0;
    padding:0;
    font-size: 14px;
    list-style-type:none;

    li{
      overflow:hidden;
      list-style-type: none;

      ul.in, ul.collapsing{
        padding:1em 0;
        border-bottom:1px solid #eee;
        li{
          line-height: 30px;
        }
      }

      a{
        text-decoration: none;
        display: block;
        color: #909399;
        padding: 0 0 0 20px;
        &:hover{
          color: #606c71;
        }
      }
      a[aria-expanded="true"]{
        color: #1486BA;
      }
      a.active{
        border-left:4px solid #1486BA;
        padding-left:16px;
        background: #FAFCFD;
        color: #606c71;
      }

    }

  }


  ul#categories>li>a{
    border-bottom: 1px solid #eeeeee;
    height: 44px;
    line-height: 44px;

  }
}

.drop-down.active {
    color: #2eb135
}