---
layout: default
title: M-Commerce - Online Payments
---

.row
  .col-sm-12
    %h1 M-Commerce - Online Payments
    %hr

.row
  .col-sm-8
    %p Sign2Pay was started with M-Commerce Payments in mind. This is the payment traditionally made at the end of an online checkout. Supported by a secure API, server and client side integration is quick, easy, while robust enough to be flexible.

    %p To integrate Sign2Pay for M-Commerce payments, you'll add an element/button to your selection of payment methods that lets your consumers know they can pay using their bank account.

    %p Once your <a href='/sections/integrations/button.html'>Sign2Pay Element</a> is in place, please follow the flow outlined in <a href="/sections/integrations/approaches.html">Payment Integration</a> section of the Integration Guide to initiate the authorization process.

    %p Once you have an Access Token, you'll use it to immediately make a one time <a href='sections/api/payments/authorize-capture.html'> Payment Request</a>.

  .col-sm-4
    %aside.aside_note
      %h4 Seeing is Believing?
      %p Try it here! Enter your mobile below and we'll send you a link to sign.
      %form#submit_sms_form{"accept-charset" => "UTF-8", :action => "https://authature.com/sms", "data-remote" => "true", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        .form-group
          %input#display_phone.form-control.input-lg{:autocapitalize => "off", :autocompletetype => "phone-full", :autocorrect => "off", :name => "phone", :spellcheck => "off", :type => "tel", "x-autocompletetype" => "phone-full"}
            %input#phone{:name => "phone", :type => "hidden"}
        .form-group
          %button#submit_sms_button.btn.btn-flat.btn-labeled.btn-info.btn-lg.btn-block.text-lg.text-slim{:type => "button"}
            %span.btn-label.icon.fa.fa-lock
            %span.sk-text
              Pay €19.99
      %p
        When asked for a bank account, use your IBAN or one of our test formats if you like:
        %code.menlo ZZ12 1234 1234 1234

:javascript
  s2p.sectionClass = "payments";
  s2p.pageClass = "m-commernce";
