%h3 Obtaining an Authorization Code without your users' signature

%p
  %strong
    Method:
  %code
    POST
%p
  %strong
    Authorization URI:
  %code
    :preserve
              https://app.sign2pay.com/oauth/no-authorize


%table.arguments
  %thead
    %tr
      %th Parameter
      %th Required
      %th Type
      %th Description
  %tbody
    %tr
      %td.param client_id
      %td.required.yes yes
      %td.format Number
      %td.description The client id issued to your Sign2Pay Client Application.
    %tr
      %td.param redirect_uri
      %td.required.yes yes
      %td.format String
      %td.description The uri the user will be redirected to after authorization. Must have the same domain as the application. Must match the redirect_uri specified in the Sign2Pay Merchant Admin application settings.
    %tr
      %td.param scope
      %td.required.yes yes
      %td.format String
      %td.description A space separated string list of permission scopes.  They include: payment, preapproval, authenticate, capture.  For on-demand payments, the scope <strong>must</strong> be specified as <strong>payment</strong>.
    %tr
      %td.param state
      %td.required.yes yes
      %td.format String
      %td.description A session string that your client uses to maintain state between requests.
    %tr
      %td.param response_type
      %td.required.yes yes
      %td.format String
      %td.description Must be specified as <strong>code</strong>.
    %tr
      %td.param amount
      %td.required.no yes/no
      %td.format Integer
      %td.description When requesting the <strong>payment</strong> scope, the amount of payment in cents <strong>is</strong> required. Otherwise, it is optional.

    %tr
      %td.param ref_id
      %td.required.no yes/no
      %td.format String (max 35 chars)
      %td.description When requesting the <strong>payment</strong> scope, your unique id for your purchase <strong>is</strong> required. Otherwise, it is optional.

    %tr
      %td.param locale
      %td.required.no no
      %td.format String
      %td.description The <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2 code</a> reflecting the language to render the Sign2Pay UI in.

    %tr
      %td.param meta_data
      %td.required.no no
      %td.format Hash
      %td.description Extra optional data attached to a payment.  This is not shown to a customer.  Format must follow meta_data[KEY]=VALUE in the request.

    %tr
      %td.param user_params[email]<strong>*</strong>
      %td.required.no no
      %td.format String
      %td.description The email address used to identify the user
    %tr
      %td.param user_params[first_name]
      %td.required.no no
      %td.format String
      %td.description The user's first name
    %tr
      %td.param user_params[last_name]
      %td.required.no no
      %td.format String
      %td.description The user's last name
    %tr
      %td.param user_params[mobile]<strong>*</strong>
      %td.required.no no
      %td.format String
      %td.description Mobile number for this user including country code (ie: +32484831234)
    %tr
      %td.param user_params[address]
      %td.required.no no
      %td.format String
      %td.description Street address for this user including house/apt number
    %tr
      %td.param user_params[city]
      %td.required.no no
      %td.format String
      %td.description City of the user's address
    %tr
      %td.param user_params[postal_code]
      %td.required.no no
      %td.format String
      %td.description User's postal code
    %tr
      %td.param user_params[national_registry_number]<strong>*</strong>
      %td.required.no no
      %td.format String
      %td.description User's national registry number
    %tr
      %td.param user_params[iban]<strong>*</strong>
      %td.required.no no
      %td.format String
      %td.description User's International Bank Account Number (IBAN)

<strong>* E-mail, Mobile Phone number or National Registry Number can be used as an identifier</strong>.

%br
%br

%p

  %button.btn.btn-flat.btn-info.btn-lg.text-slim{ type: 'button', data: { toggle: 'modal', target: '#authroization_code_modal' } }
    Generate Authorization Code now!

  - content_for :modals do
    #authroization_code_modal.modal.fade{ role: 'dialog', tabindex: -1, aria: { labelledby: 'authroization_code_modal_title', hidden: 'true' } }
      .modal-dialog{ role: 'document'}
        .modal-content
          .modal-header
            %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
              %span{ aria: { hidden: 'true' } }
                &times;
            %h4.modal-title{ id: 'authroization_code_modal_title' }
              Generate
              %strong Authorization code
              without Signature
          .modal-body
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#authorization_code_request"}
                  Request
              %li
                %a{"data-toggle" => "tab", :href => "#authorization_code_output"}
                  Response
            .tab-content.tab-content-bordered
              #authorization_code_request.tab-pane.panel-padding.fade.active.in
                %form.form
                  / Scope
                  .form-group
                    %label.control-label{for: 'scope'} Scope
                    %select#scope.form-control{name: 'scope'}
                      %option{value: 'preapproval'} preapproval
                      %option{value: 'payment'} payment
                  / Response Code
                  .form-group
                    %label.control-label{for: 'response_type'} Response Type
                    %input#response_type.form-control.input-md{name: 'response_type', value: 'code', required: '', type: 'text'}/
                  / Client ID
                  .form-group
                    %label.control-label{for: 'client_id'} Client ID
                    %input#client_id.form-control.input-md{name: 'client_id', required: '', type: 'text'}/
                    %span.help-block
                      Your
                      %strong client_id
                      is available from
                      %a{href: 'https://merchant.sign2pay.com/merchant_applications', target: '_new'}
                        %strong Sign2Pay Merchant Application
                  / Redirect URI
                  .form-group
                    %label.control-label{for: 'redirect_uri'} Redirect URI
                    %input#redirect_uri.form-control.input-md{name: 'redirect_uri', required: '', type: 'text'}/
                    %span.help-block
                      Must match redirect_uri defined in your
                      %strong Sign2Pay Merchant Application
                  / Ref ID
                  .form-group
                    %label.control-label{for: 'ref_id'} Ref ID
                    %input#state.form-control.input-md{name: 'ref_id', placeholder: '', required: '', type: 'text'}/
                    %span.help-block
                      Your unique id for your purchase.
                  / State
                  .form-group
                    %label.control-label{for: 'state'} State
                    %input#state.form-control.input-md{name: 'state', placeholder: '', required: '', type: 'text'}/
                  / Amount
                  .form-group
                    %label.control-label{for: 'amount'} Amount
                    %input#amount.form-control.input-md{name: 'amount', placeholder: '', type: 'number'}/
                    %span.help-block
                      Amount of payment being requested in cents.
                  / E-mail
                  .form-group
                    %label.control-label{for: 'user_params_email'} E-mail
                    %input.form-control.input-md{id: 'user_params_email', name: 'user_params[email]', placeholder: '', required: '', type: 'email'}/
                  / Mobile
                  .form-group
                    %label.control-label{for: 'user_params_mobile'} Mobile Phone
                    %input.form-control.input-md{id: 'user_params_mobile', name: 'user_params[mobile]', placeholder: '', required: '', type: 'text'}/
                  / IBAN
                  .form-group
                    %label.control-label{for: 'user_params_iban'} IBAN
                    %input.form-control.input-md{id: 'user_params_iban', name: 'user_params[iban]', placeholder: '', required: '', type: 'text'}/
                  / First name
                  .form-group
                    %label.control-label{for: 'user_params_first_name'} First name
                    %input.form-control.input-md{id: 'user_params_first_name', name: 'user_params[first_name]', placeholder: '', required: '', type: 'text'}/
                  / Last name
                  .form-group
                    %label.control-label{for: 'user_params_last_name'} Last name
                    %input.form-control.input-md{id: 'user_params_last_name', name: 'user_params[last_name]', placeholder: '', required: '', type: 'text'}/

                  / Control Buttons
                  .form-group
                    #send_request_button.button.btn.btn-info
                      Send Request
                    %button.btn.btn-default{ data: { dismiss: 'modal' } }
                      Close
              #authorization_code_output.tab-pane.panel-padding.fade