---
layout: default
title: Integrations - Client Credentials
---

.row
  .col-sm-12
    %h1 Client Credentials
    %hr
.row
  .col-sm-12
    %p The client credentials assigned to your sign2pay Client Application make up the public and private keys you will use to connect to sign2pay.
    %p You can retrieve your applications credentials any time by signing into your Merchant Admin, selecting your client application from Applications Section, and clicking <b>VIEW ACCESS CREDENTIALS</b> on the top left of the edit view.

    .note

      %h4 CLIENT_ID
      %p
        This is the
        %strong public
        key that identifies your application when making requests

      %hr

      %h4 CLIENT_SECRET
      %p
        This is the
        %strong private
        key that you use to authenticate your server side requests.

.row
  .col-sm-12
    .step
      %h3 Next Step
      %p
        You've got the keys, let's go for a drive!
        %a.more{:href => "/sections/integrations/approaches.html"}
          Learn More
          %span.fa.fa-chevron-right

:javascript
  s2p.sectionClass = "integrations";
  s2p.pageClass    = "client-credentials";
