---
layout: default
title: Localization
---

.row
  .col-sm-12
    %h1 Localization
    %hr

.row
  .col-sm-12
    %p When calling the Sign2Pay User Interface, you have the option of passing a <code>locale</code> parameter. This controls the language our UI is rendered using, and will fallback to English if we do not support your preference. Generally this is done when building the URL for your Payment Button.

    %p Sign2Pay currently supports EN and NL, with FR and DE rolling out soon.


    %h4 Example Request URL with locale:

    %pre
      %code
        :preserve
          https://app.sign2pay.com/oauth/authorize?
          client_id=c509fd593742b6b08adf4f0b41a4801c&
          response_type=code&
          redirect_uri=http%3A%2F%2Fexample.com%2Foauth%2Fcallback%2Fc509fd593742b6b08adf4f0b41a4801c&
          state=8e108029ade0d75a1e134d1404f44325eec53356ae665ba21cba1bf8559f5e8d&
          scope=payment&
          ux_style=popup&
          locale=nl&
          user_params%5Bidentifier%5D=nick%40sign2pay.com&
          user_params%5Bfirst_name%5D=Nick&
          user_params%5Blast_name%5D=Lloyd&
          amount=1995

    %p
      %a.btn.btn-flat.btn-info.btn-lg.text-slim{href: "https://app.sign2pay.com/oauth/authorize?authature_site=app.sign2pay.com&client_id=c509fd593742b6b08adf4f0b41a4801c&response_type=code&redirect_uri=http%3A%2F%2Fauthature.com%2Foauth%2Fcallback%2Fc509fd593742b6b08adf4f0b41a4801c&state=c3ee82dfdd1ede4f938c95504f8284850bad55c5d1df0392c5cc9427c3d1526e&device_uid=4b808ae03b1ba5ee3512e25e19d9c368b80835654094ea3a7fea27ca398a7279&scope=payment&ux_style=popup&locale=nl&user_params%5Bidentifier%5D=nick%40sign2pay.com&user_params%5Bfirst_name%5D=Nick&user_params%5Blast_name%5D=Lloyd&amount=1995&ref_id=5795c838647f84abea6719cb1e15f2ba7ca581b441d2491b899d9ce71779b9ec", target: "_blank"} Example NL Popup