---
layout: default
title: Integrations - Redirect URI
---

.row
  .col-sm-12
    %h1 Redirect URI
    %hr

.row
  .col-sm-8


  .col-sm-4

:javascript
  s2p.sectionClass = "integrations";
  s2p.pageClass    = "redirect_uri";
