---
layout: default
title: Integrations - Handling Success
---

.row
  .col-sm-12
    %h1 Handling Success
    %hr

.row
  .col-sm-12

    %p A successful Payment Request returns a JSON object containing the "purchase_id".

    %p This is your opportunity to update your local object (purchase, order, payment or however your model is named) as "paid", and redirect your user to your next step. This could be your thank you page, continue shopping etc.

    %h5 Successful Payment Request Response:
    %pre
      %code
        :preserve
          {
            "purchase_id" : "55f980b6e6db99dba9000001",
            "status" : "PROCESSING"
          }

    .note
      Don't forget this is happening server side, so you'll want to pass along the message if need be to your iOS client, or simply redirect your user in your web application.


:javascript
  s2p.sectionClass = "integrations";
  s2p.pageClass    = "success";
