---
layout: default
title: Integrations - Testing
---

.row
  .col-sm-12
    %h1 Testing
    %hr

.row
  .col-sm-8


  .col-sm-4

:javascript
  s2p.sectionClass = "integrations";
  s2p.pageClass    = "testing";
