---
layout: default
title: Integrations - User Experience
---

.row
  .col-sm-12
    %h1 User Experience
    %hr

.row
  .col-sm-8

    %p this is a series of commented screenshots explaining what the user sees as a first time and recurring user.


  .col-sm-4

:javascript
  s2p.sectionClass = "integrations";
  s2p.pageClass    = "ux";