---
layout: default
title: Webhooks
---

.row
  .col-sm-12
    %h1 Webhooks
    %hr

.row
  .col-sm-12
    %p Sign2Pay provide webhooks that, when setup for your Client Application, will <code>POST</code> a JSON object representing your  registered event.

    %p To test out these webhooks, you can add a temporary url to Client Application settings to via <a href="https://requestbin.com" target="_blank">https://requestbin.com</a> to see exactly what gets sent.

    %p While we are adding new events all the time, the keys provided will follow the same object template.

    %h4 Webhooks JSON Payload Keys

    %table.arguments
      %thead
        %tr
          %th Key
          %th Description
      %tbody

        %tr
          %td.name resource
          %td.description The Sign2Pay object model the event refers to.

        %tr
          %td.name type
          %td.description The namespaced event name.

        %tr
          %td.name data
          %td.description Any required data associated with the event.

        %tr
          %td.name created_at
          %td.description Timestamp indicating when the event was registered.

    %h4 Example Webhook JSON Payload:

    %pre
      %code
        :preserve
          {
            "resource": "purchase",
            "type": "purchase.submitted_to_merchant",
            "data": {
                "token": "560be6249ee49f1249000073",
                "ref_id": "ad827780b223e1d74312374f4d18a187",
                "purchase_id": "56af67c43f90bf129200003c",
                "amount": 1000,
                "created_at": 1454335940,
                "test": false,
                "user_params": {
                    "identifier": "nick@sign2pay.com"
                }
            },
            "created_at": 1454335940
          }
