---
layout: default
title: Glossary of Terms
---

.row
  .col-sm-12
    %h1 Glossary
    %hr

.row
  .col-sm-12
    %h4#application-name Application Name
    %p This should be the name that the user is expecting to pay. For example, if you own many different businesses, make sure you use the name of the business.

    %h4#authorizationgrant authorization_grant
    %p An authorization grant represents the users authorization to process payment using its bank account. This is a code (string) used by the client application to obtain an access token.

    %h4#authorizationuri Authorization URI
    %p
      %code
        https://app.sign2pay.com/oauth/authorize
    %p The URL where a <code>GET</code> request must be sent to obtain an authorization code for a user.

    %h4#clientid CLIENT_ID
    %p
      This is the
      %em public
      key that identifies your application when making requests

    %h4#clientsecret CLIENT_SECRET
    %p
      This is the
      %em private
      key used to authenticate server side requests

    %h4#redirecturi redirect_uri
    %p The URL in your app where users will be sent after authorization.
    %p The redirect_uri <em>must</em> have the same domain as the application, and it <em>must exactly</em> match the <code>redirect_uri</code> param provided during the <code>GET</code> and <code>POST</code> requests for user authorization.

    %pre
      %code
        :preserve
          APPLICATION URL: http://example.com

          GOOD REDIRECT_URI: http://example.com/oauth/callback
          BAD REDIRECT_URI:  http://example.org

    %h4#scope Scope
    %p Scopes allow you to specify what type of access you wish to receive from your user.  They include: payment, preapproval, authenticate, capture.  The requested scopes will be displayed to the user during the authorization step.
    %p For On-Demand payments, the scope <b>must</b> be specified as <b>payment</b>.

    %h4#state State
    %p An unguessable random string. It is used to protect against cross-site request forgery attacks.

    %h4#vip_banks VIP Bank
    %p A highly recognisable brand for a given region/country.

:javascript
  s2p.sectionClass = "glossary";
