---
layout: default
title: Merchant Account - Getting Paid
---

.row
  .col-sm-12
    %h1 Getting Paid
    %hr
    %p
    If the
    %a{href:"/sections/account/legal-requirements.html"}
      Legal requirements
    are not fulfilled, you will not be able to switch your app
    %code.menlo live
    and we will not be processing your payments. Consequently, we will be unable to transfer any funds to you.

.row
  .col-sm-8

  .col-sm-4


:javascript
  s2p.sectionClass  = "account";
  s2p.pageClass    = "getting-paid";
