---
layout: default
title: Merchant Account - Legal
---

.row
  .col-sm-12
    %h1 Legal Requirements

    %p Before sign2pay can start processing, the legal requirements need to be fulfilled.
    %h6 Simple information
    %p
      \-1:
      %code.menlo Bank account number
    %p
      \-2:
      %code.menlo Business Address
    %h6 A check box
    %p
      \-3: Accept our
      %code.menlo Terms & Conditions

    %h6 Uploaded Documents
    %p
      \-4:
      %code.menlo Certifiate of Incorporation
    %p
      \-5:
      %code.menlo Signed Contract
      (your detailed contract with Sign2Pay)

    %h6 EXTRA
    %p
      \-6: If your company has one, provide your
      = succeed "." do
        %code.menlo VAT number
      This will allow us to process your VAT and greatly simplify your accounting!
    %hr



.row
  .col-sm-8

  .col-sm-4

:javascript
  s2p.sectionClass  = "account";
  s2p.pageClass     = "legal-requirements";
