---
layout: default
title: Pre-Approved Payments
---

.row
  .col-sm-12
    %h1 Pre-Approved Payments
    %hr

.row
  .col-sm-8
    %p Sign2Pay allows you to ask for your users permission to charge their account without making a payment at the time. This allows you to implement features like Subscription Based, Recurring, One Click Payments and more.

  .col-sm-4
    %aside.aside_note
      %h4 Seeing is Believing?
      %p Try it here! Enter your mobile below and we'll send you a link to sign.
      %form#submit_sms_form{"accept-charset" => "UTF-8", :action => "https://authature.com/sms", "data-remote" => "true", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        .form-group
          %input#display_phone.form-control.input-lg{:autocapitalize => "off", :autocompletetype => "phone-full", :autocorrect => "off", :name => "phone", :spellcheck => "off", :type => "tel", "x-autocompletetype" => "phone-full"}
            %input#phone{:name => "phone", :type => "hidden"}
        .form-group
          %button#submit_sms_button.btn.btn-flat.btn-labeled.btn-info.btn-lg.btn-block.text-lg.text-slim{:type => "button"}
            %span.btn-label.icon.fa.fa-lock
            %span.sk-text
              Pay €19.99
      %p
        When asked for a bank account, use your IBAN or one of our test formats if you like:
        %code.menlo ZZ12 1234 1234 1234

:javascript
  s2p.sectionClass = "payments";
  s2p.pageClass = "pre-approved";
