---
layout: default
title: API - OAuth
---

#OAuth

.row
  .col-sm-12
    %h1 OAuth: Signature
    %hr

.row
  .col-sm-12
    %p Beyond making Payment Requests, a valid Access Token has a few additonal endpoints available to you.

    .list-group
      %a.list-group-item{href:"/sections/api/oauth/token.html"}
        %h4 Validate an Access Token

      %a.list-group-item{href:"/sections/api/oauth/signature.html"}
        %h4 Retrieve the Image Data for a Signature




:javascript
  s2p.sectionClass = "api";
  s2p.pageClass    = "oauth";



//TODO