---
layout: default
title: API - OAuth - Token
---

.row
  .col-sm-12
    %h1 OAuth: Token
    %hr

.row
  .col-sm-8
    %p This API allows you to check the validity of an Access Token.

    .note.note-danger
      %strong Note:
      This is a <a href="/sections/api/authorization.html">Bearer Authorized</a> call.

    %h4 Check Access Token
    %pre
      %code
        GET https://app.sign2pay.com/oauth/token?client_id=c509fd593742b6b08adf4f0b41a4801c&scope=preapproval

    %table.arguments
      %thead
        %tr
          %th Parameter
          %th Required
          %th Type
          %th Description
      %tbody

        %tr
          %td.param client_id
          %td.required.yes yes
          %td.format String
          %td.description The client id issued to your Sign2Pay Client Application.

        %tr
          %td.param scope
          %td.required.no yes
          %td.format String
          %td.description The permission scope you are requesting

    %h4 Request Headers &amp; Body
    %pre
      %code
        :preserve

          Accept: */*
          Accept-Encoding: gzip, deflate
          Authorization: Bearer 675bb9b23f731659c438c45ab1b26b8c39ba9154652b2877668e31e762f8b26c
          Accept-Language: en-us

    %h4 Response Body
    %pre
      %code
        :preserve
          {
            "status": "ok"
          }

  .col-sm-4

:javascript
  s2p.sectionClass = "api";
  s2p.pageClass    = "oauth";

